
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


  
  *{
    font-family: "Montserrat", sans-serif;
  }
  .page{
        min-height: 100vh;  
        padding-top: 70px;
        background-color: var(--color2);
      }
.menu{
    border-bottom: 1px solid gray;
}
.myavatar{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
/*.title {
  text-align: center;
  text-overflow: ellipsis;
  margin: 30px 15px;
  font-size: 18px;
}*/